[submodule ".registry"]
	path = .registry
	url = https://github.com/lessem-inrae/lessem-inrae.r-universe.dev
	branch = HEAD
[submodule "martelosim"]
	path = martelosim
	url = https://forge.inrae.fr/lessem/rpackages/martelosim
[submodule "martelosim-dev"]
	path = martelosim-dev
	url = https://forge.inrae.fr/lessem/rpackages/martelosim
	branch = dev
[submodule "matreex"]
	path = matreex
	url = https://forge.inrae.fr/lessem/rpackages/matreex
